.ant-otp {
    justify-content: space-between;
    display: flex;
    width: 100%;

    .ant-otp-input {
        width: 100%;
        background-color: #f7f8fa !important;
        border-color: #f7f8fa !important;
        padding: 20px 22px !important;
    }
}